{% extends '/blog.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/blog.css') }}">
{% endblock %}
{% block main %}

	<a class="btn btn-primary" href={{ path('article_liste')}}>Page de liste</a>
	<div class="card mb-3 container" style="margin-top: 50px">
		<img src="{{ vich_uploader_asset(article, 'imageFile') }}" class="card-img-top">
		<div class="card-body">

			<h1 class="card-title">{{article.titre}}</h1>
			<p class="card-text">{{article.description}}</p>
			<p class="card-text">{{article.contenu}}</p>
			<p class="card-text">{{article.datecreation|date("m/d/Y")}}</p>
		</div>
	</div>
{% endblock %}
